@media screen and (max-width: 900px) {
    .board {
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 700px) {
    .button-tab {
        margin-bottom: 20px;
    }
    .button-tab > .btn {
        display: block;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    .header-app {
        text-align: center;
        height: 100px!important;
        margin-bottom: 50px!important;
    }
    .current-time, 
    .prez, 
    .icons {
        position: relative;
        float: none;
    }
    .icons {
        margin: 0 auto;
        right: 0;
    }
    .header-board > .boardTitle {
        font-size: 11px;
    }
    .header-board > .dataLength {
        font-size: 9px;
        width: 17px;
        height: 17px;
        padding: 3px;
    }
    .article > .title {
        font-size: 13px;
    }
    .article > .description {
        font-size: 13px;
    }
}

@media screen and (max-width: 500px) {
    .board-container {
        display: block;
        height: 100%;
        padding-bottom: 30px;
    }
    .board, .board > .header-board {
        width: 350px;
    }
}
@media screen and (max-width: 400px) {
    .board, .board > .header-board {
        width: 300px;
    }
}
@media screen and (max-width: 340px) {
    .board, .board > .header-board {
        width: 250px;
    }
    .header-board > .boardTitle {
        font-size: 10px;
    }
    .article > .description {
        font-size: 11px;
    }
}