@media screen and (max-width: 900px) {
    .board {
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 700px) {
    .button-tab {
        text-align: center;
        margin-bottom: 20px;
    }
    .button-tab > .btn {
        display: inline-block;
        width: 40px;
        padding: 9px;
        margin: 0 auto;
        margin-right: 5px;
    }
    .btn .tab-emoji {
        margin-right: 0;
    }
    .btn .tab-name {
        display: none;
    }

    .header-app {
        text-align: center;
        height: 100px!important;
        margin-bottom: 50px!important;
    }
    .current-time, 
    .prez, 
    .icons {
        position: relative;
        float: none;
    }
    .icons {
        margin: 0 auto;
        right: 0;
    }
    .board {
        height: 30px;
        transition: 0.5s;
    }
    .board:hover {
        height: 450px;
        transition: 0.5s;
    }
    .seemore {
        display: inline;
        margin-left: 15px;
    }
    .board:hover .plus {
        display: none;
    }
    .board:hover .less::before {
        content: '➖';
    }
    .header-board > .boardTitle {
        font-size: 11px;
    }
    .header-board > .itemLen {
       margin-right: 25px;
    }
    .title {
        font-size: 13px;
    }
    .description {
        font-size: 13px;
    }
}

@media screen and (max-width: 500px) {
    .board-container {
        display: block;
        height: 100%;
        padding-bottom: 30px;
    }
    .board, .board > .header-board {
        width: 350px;
    }
}
@media screen and (max-width: 400px) {
    .board, .board > .header-board {
        width: 300px;
    }
}
@media screen and (max-width: 340px) {
    .board, .board > .header-board {
        width: 250px;
    }
    .header-board > .boardTitle {
        font-size: 10px;
    }
    .description {
        font-size: 11px;
    }
}