@media screen and (max-width: 900px) {
    .panel {
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 700px) {
    .button-tab {
        margin-bottom: 20px;
    }
    .button-tab > .btn {
        display: block;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    .header-app {
        text-align: center;
    }
    .current-time, .prez, .addFlux-container {
        position: relative;
        float: none;
    }
}

@media screen and (max-width: 500px) {
    .panel-container {
        display: block;
        height: 100%;
        padding-bottom: 30px;
    }
    .panel, .panel > .header-panel {
        width: 350px;
    }
}
@media screen and (max-width: 400px) {
    .panel, .panel > .header-panel {
        width: 300px;
    }
}
@media screen and (max-width: 340px) {
    .panel, .panel > .header-panel {
        width: 250px;
    }
}