@media screen and (max-width: 700px) {
    .button-tab {
        text-align: center;
        margin-bottom: 20px;
    }
    .button-tab > .btn {
        border: 1px solid var(--main-dark);
        display: inline-block;
        width: 70px;
        padding: 7px;
        margin: 0 auto;
        margin-right: 3px;
    }
    .btn .tab-emoji {
        margin-right: 0;
    }
    .btn .tab-name {
        font-size: 9px;
        display: block;
    }

    .header-app {
        text-align: center;
        height: 100px!important;
        margin-bottom: 50px!important;
    }
    .current-time, .prez, .nav {
        position: relative;
        float: none;
    }
    .refresh {
        margin-top: 5px;
    }
    .prez {
        display: block;
    }
    .current-time {
        margin: 5px;
    }
    .nav {
        margin: 0 auto;
        right: 0;
        top: 0;
    }
    .board, .header-board {
        width: 300px;
    }
    .board {
        height: 30px;
        margin: 0 auto;
        margin-bottom: 20px;
        transition: 0.5s;
    }
    .board-container {
        display: block;
        height: 100%;
        padding-bottom: 30px;
    }
    .board-active {
        height: 450px;
        transition: 0.5s;
    }
    .boardContainerTitle {
        font-size: 17px;
        margin-bottom: 20px;
    }
    .seemore {
        display: block;
    }

    .header-board > .boardTitle {
        font-size: 11px;
    }
    .title {
        font-size: 13px;
    }
    .description {
        font-size: 13px;
    }
}
