.App {
    text-align: left;
}

* button {
    border: none;
    outline: none;
}

.App > .header-app {
    background-color: #353536;
    color: #fff;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 30px 0px;
    position: relative;
}
.prez {
    position: absolute;
    float: left;
}
.prez > h1, .slogan {
    margin: 0px;
}
.prez > h1 {
    font-size: 23px;
}
.slogan {
    font-style: italic;
}
.current-time {
    text-align: center;
}
.addFlux-container {
    position: absolute;
    float: right;
    right: 0px;
    top: 0px;
    height: 100%;
}
.addFlux {
    width: 62px;
    height: 100%;
    font-size: 30px;
    background-color: rgb(231, 86, 231);
    color: #fff;
    transition: 0.2s;
}
.addFlux:hover {
    cursor: pointer;
    background-color: rgb(236, 103, 236);
    transition: 0.2s;
}

.button-tab {
    background-color: transparent;
    margin-left: 10px;
}

.button-tab > button {
    padding: 10px;
    margin-right: 5px;
    background-color: #fff;
}
.button-tab > button:hover {
    cursor: pointer;
}

.button-tab .active {
    font-weight: bold;
}

.panel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 30px 20px 0px 20px;
    background-color: #C9C9C9;
}

.panel {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 400px;
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
}

.panel > .header-panel {
    position: absolute;
    background-color: rgb(158, 157, 157);
    width: 400px;
    padding: 10px;
    margin: 0px;
}
.header-panel > .icon {
    float: left;
    margin-right: 10px;
    width: 17px;
    height: 17px;
}
.header-panel > h1 {
    color: #fff;
    font-size: 13px;
    margin: 0;
}
.header-panel > .deleteFlux {
    position: absolute;
    float: right;
    right: 5px;
    top: 5px;
    background: transparent;
    font-size: 15px;
}
.header-panel > .deleteFlux:hover {
    text-shadow: 0px 0px 6px rgba(206, 9, 9, 0.3);
    cursor: pointer;
}

.articles {
    margin-top: 30px;
}

.content {
    padding: 10px 10px 0px 10px;
}

.content:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.article > hr {
    padding: 0;
    margin: 0;
    height: .5px;
    border-color: rgba(99, 99, 99, 0.1);
}

.article {
    color: #000;
    text-decoration: none;
}

.article > .title {
    font-weight: bold;
    color: rgb(18, 202, 18);
}

.article > .date {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.content > .description {
    color: #000;
}