.App {
    text-align: left;
}

.App > .header-app {
    background-color: #353536;
    color: #fff;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 30px 0px;
    position: relative;
}
.prez {
    position: absolute;
    float: left;
}
.prez > h1, .slogan {
    margin: 0px;
}
.prez > h1 {
    font-size: 23px;
}
.slogan {
    font-style: italic;
}
.current-time {
    text-align: center;
    margin-bottom: 0;
}
.refresh {
    cursor: pointer;
    width: 40px;
    height: auto;
    margin: 5px auto 5px auto;
    font-size: 25px;
    color: #fff;
}
.refresh:hover {
    color: red;
}
.header-app > a > img {
    position: absolute;
    float: right;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
}

.button-tab {
    background-color: transparent;
    margin-left: 10px;
}
.button-tab > .btn {
    border: none;
    outline: none;
    padding: 7px 7px 10px 7px;
    margin-right: 5px;
    background-color: #fff;
}
.button-tab > .btn:hover {
    cursor: pointer;
}
.button-tab .active {
    padding: 7px;
    font-weight: bold;
    background-color: #C9C9C9;
}

.board-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 30px 20px 0px 20px;
    background-color: #C9C9C9;
}
.loading {
    font-size: 23px;
    color: #fff;
    text-align: center;
}

.board, .header-board {
    width: 400px;
}

.board {
    margin: 0 1% 20px;
    margin-bottom: 20px;
    height: 450px;
    overflow-y: overlay;
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: inset 0px -30px 30px -20px rgb(201, 201, 201);
}
.board-error {
    color: #fff;
    background-color: red;
    padding: 20px;
    margin: 10px;
}
.board > .header-board {
    position: absolute;
    background-color: rgb(158, 157, 157);
    padding: 10px;
    margin: 0px;
}
.header-board > .icon {
    float: left;
    margin-right: 10px;
    width: 17px;
    height: 17px;
}
.header-board > .boardTitle {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 13px;
    margin: 0;
}
.header-board > .boardTitle:hover {
    text-shadow: 0px 0px 3px rgb(231, 86, 231);
}
.header-board > .itemLen {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    padding: 5px;
}

.articles:nth-child(2){
    margin-top: 30px;
}
.content {
    padding: 10px 10px 0px 10px;
}

.content:hover {
    background-color: rgba(128, 128, 128, 0.2);
}
.article {
    color: #000;
    text-decoration: none;
}
.article > hr {
    padding: 0;
    margin: 0;
    height: .5px;
    border-color: rgba(99, 99, 99, 0.1);
}
.article > .title {
    font-size: 15px;
    font-weight: bold;
    color: rgb(18, 202, 18);
}
.article > .categorie {
    font-style: italic;
    font-size: 13px;
}
.article > .date {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}
.article > .thumbnail {
    float: left;
    width: 80px;
    height: 60px;
    margin: 25px 10px 0px 0px;
}
.article > .description {
    font-size: 15px;
    color: #000;
}
.spacer {
    height: 55px;
}
.totalItemsLen, .itemLen {
    text-align: center;
    display: inline-block;
    background-color: rgba(46, 46, 46, 0.3);
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
}
.btn > .totalItemsLen {
    margin-left: 5px;
    padding: 3px 5px 3px 3px;
}

.btn-top {
    cursor: pointer;
    position: fixed;
    width: 30px;
    height: 30px;
    padding: 3px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    opacity: .3;
    bottom: 5px;
    right: 5px;
    transition: 0.3s;
}
.btn-top:hover {
    opacity: 1;
    transition: 0.3s;
}
.btn-top > img {
    width: 25px;
    height: 25px;
    padding: 3px;
}
.btn-top-off {
    display: none;
}