.App {
    text-align: left;
    height: 100%;
}

* button {
    border: none;
    outline: none;
}

.App > .header-app {
    background-color: #353536;
    color: #fff;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 30px 0px;
    position: relative;
}
.prez {
    position: absolute;
    float: left;
}
.prez > h1, .slogan {
    margin: 0px;
}
.prez > h1 {
    font-size: 23px;
}
.slogan {
    font-style: italic;
}
.current-time {
    text-align: center;
}

.button-tab {
    background-color: transparent;
    margin-left: 10px;
}
.button-tab > .btn {
    padding: 7px 7px 10px 7px;
    margin-right: 5px;
    background-color: #fff;
}
.button-tab > .btn:hover {
    cursor: pointer;
}
.button-tab .active {
    padding: 7px 11px 7px 11px;
    font-weight: bold;
    background-color: #C9C9C9;
}

.panel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 30px 20px 0px 20px;
    background-color: #C9C9C9;
}

.panel, .header-panel {
    width: 400px;
}

.panel {
    margin: 0 1% 20px;
    margin-bottom: 20px;
    height: 450px;
    overflow-y: overlay;
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: inset 0px -30px 30px -20px rgb(201, 201, 201);
}
.panel > .header-panel {
    position: absolute;
    background-color: rgb(158, 157, 157);
    padding: 10px;
    margin: 0px;
}
.header-panel > .icon {
    float: left;
    margin-right: 10px;
    width: 17px;
    height: 17px;
}
.header-panel > .panelTitle {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 13px;
    margin: 0;
}
.header-panel > .panelTitle:hover {
    text-shadow: 0px 0px 3px rgb(231, 86, 231);
}

.articles {
    margin-top: 30px;
}

.content {
    padding: 10px 10px 0px 10px;
}

.content:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.article {
    color: #000;
    text-decoration: none;
}
.article > hr {
    padding: 0;
    margin: 0;
    height: .5px;
    border-color: rgba(99, 99, 99, 0.1);
}
.article > .title {
    font-weight: bold;
    color: rgb(18, 202, 18);
}
.article > .date {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}
.article > .thumbnail {
    float: left;
    width: 80px;
    height: 60px;
    margin: 25px 10px 0px 0px;
}
.article > .description {
    color: #000;
}
.spacer {
    height: 55px;
}
.dataLength {
    text-align: center;
    display: inline-block;
    background-color: rgba(46, 46, 46, 0.3);
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
}
.btn > .dataLength {
    margin-left: 5px;
    padding: 3px 5px 3px 3px;
}
.header-panel > .dataLength {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    padding: 5px;
}

.footer {
    position: fixed;
    width: 200px;
    padding: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    bottom: 0;
    right: 0;
    transition: 0.2s;
}
.footer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}
.footer > a {
    text-decoration: none;
    color: #fff;
}
.footer > a > img {
    float: right;
    margin-right: 15px;
    margin-left: -5px;
    width: 20px;
    height: 20px;
}