::-webkit-scrollbar {
    width: 9px;
}
  ::-webkit-scrollbar-button {
    width: 0px;
  }
  ::-webkit-scrollbar-button:vertical:decrement {
    height: 45px;
  }
  ::-webkit-scrollbar-button:vertical:increment {
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border: 0px none transparent;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #666666;
  }
  ::-webkit-scrollbar-corner {
    background: #666666;
  }
  ::-webkit-scrollbar-track { 
    border-radius: 30px;
    background: transparent;
  }